.shape {
  height: 200px;
  width: 200px;
}

.firstBox {
  background-color: cadetblue;
  margin: 20px;
  padding: 20px;
  border: 10px solid black;
}

.firstBox p {
  margin: 0;
}
.secondBox {
  background-color: gold;
  border-top: 20px solid black;
  border-bottom: 20px solid black;
  border-left: 10px solid black;
  border-right: 10px solid black;
  margin-left: 279px;
  margin-top: -22px;
}
.thirdBox {
  background-color: indianred;
  border: 10px solid black;
  margin-bottom: 30px;
  margin: 50px;
  margin-top: -2px;
  margin-left: 60px;
}
